/* li {
  padding: 5px;
  margin: 5px;
  /* background: #faebd7; */
/* } */ 

.bkg {
  background-color: #7A5C54;
}
ul {
  list-style-type: none; 
}


* {
  text-align: center;
}
.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.box {
  background: #F2E0B0;
  padding: 20px;
  margin: 10px;
}
